extends layout

block content
	.memeDisplay
		.memeImage
		.memeNavigate
			form.pure-form.pure-form-stacked
				fieldset
					legend.memeName 
					.memeContent

	.memeBuilder
		canvas.memeCanvas
		.memeTools
			form.pure-form.pure-form-stacked
				fieldset
					legend Say something funny

					label(for='memeToolsTop') Top line
					input#memeToolsTop.memeTop

					label(for='memeToolsBottom') Bottom line
					input#memeToolsBottom.memeBottom
					
					div
						br
						input.memeCancel.pure-button(type='button', value='Cancel')
						| 
						input.memeSave.pure-button.pure-button-primary(type='button', value='Save')

	.memeTemplates
		- for (var i in memeTemplates)
			a.memeTemplate(href='/' + memeTemplates[i].template)
				img(src='//img' + (1 + (i % 5)) + '.memes.io/templates/' + memeTemplates[i].template + '_tn.jpg')