doctype 5
html
	head
		title= siteTitle
		link(rel='stylesheet', href='//yui.yahooapis.com/pure/0.2.0/pure-min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='/javascripts/jquery.history.js')
		script(src='/javascripts/meme.js')
		script(src='/javascripts/scripts.js')

	body
		header
			h1
				a(href='/')= siteTitle
		
		.body
			block content

		footer by 
			a(href='http://kevin.fm') kevin khandjian