header,
footer,
.body {
	width: 900px;
	margin: 0 auto;
	clear: both;
}


.memeTemplate {
	display: block;
	float: left;
	width: 128px;
	height: 128px;
	overflow: hidden;
	margin: 0 10px 10px 0;
}
.memeTemplate:nth-child(6n) {
	margin-right: 0;
}
.memeTemplate > img {
	min-width: 100%;
	min-height: 100%;
}

.memeBuilder {
	display: none;
}
.memeImage,
.memeCanvas {
	margin-right: 1em;
}
.memeTools {
	width: 250px;
}
.memeImage,
.memeCanvas,
.memeTools {
	float: left;
}

.memeDisplay {
	display: none;
}

a .icon {
	text-decoration: none;
}

.memeShareURL {
	display: inline !important;
	cursor: text !important;
	background: #fff !important;
	color: #555 !important;
}