header,
footer,
.body {
	width: 956px;
	margin: 0 auto;
	clear: both;
}


header h1 {
	float: left;
}
.caption {
	float: right;
	margin: 2em 0;
	font-style: italic;
}


.memeTemplate {
	display: block;
	float: left;
	width: 128px;
	height: 128px;
	overflow: hidden;
	margin: 0 10px 10px 0;
}
.memeTemplate:nth-child(7n) {
	margin-right: 0;
}
.memeTemplate > img {
	min-width: 100%;
	min-height: 100%;
}

.wtf,
.memeBuilder,
.memeDisplay {
	display: none;
}
.memeImage,
.memeCanvas {
	margin-right: 1em;
}
.memeTools {
	width: 250px;
}
.memeImage,
.memeCanvas,
.memeTools {
	float: left;
}

a .icon {
	text-decoration: none;
}

.memeShareURL {
	display: inline !important;
	cursor: text !important;
	background: #fff !important;
	color: #555 !important;
}

ul li {
	margin: 0.5em 0;
}